@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}



/*-------------------------------- 
          Heading Style 
----------------------------------*/

.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161616;
    width: 1100px;
    height: 520px;
    margin-left: 140px;
    margin-top: 50px;
    border-radius: 30px;
}

.heading-text {
    color: white;
    margin-left: 106px;
    margin-top: 111px;
    margin-bottom: 111px;


}

.heading-text h1 {
    font-size: 60px;
    margin-bottom: 0;
}

.heading-text p {
    font-size: 16px;
}

.heading-text input {
    color: white;
    font-size: 20px;
    background-color: #DD0000;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}


.poster-part {
    margin-top: 33px;
    margin-right: 79px;
}

/* -----------Blog Part Style -----------*/


.all-items {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.match-blog-section {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    padding: 20px;
    margin-left: 140px;
    margin-right: 24px;
    background-color: #161616;
    border-radius: 15px;
}

.match-blog-section a {
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    padding: 17px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.match-blog-section .match-btn1 {
    background-color: white;
    color: black;
}

.match-blog-section .match-btn {
    background-color: #e04747;
    color: white;
    transition: .5s;
}

.match-btn:hover {
    background-color: #bc2525;
    cursor: pointer;
}

/* box-style-start */


.main-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-right: 140px;
}

.box {
    width: 260px;
    height: 330px;
    background-color: rgb(248 248 248);
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.box-info {
    margin-top: 20px;
    width: 100%;
    margin-left: 20px;
}

.box-image img {
    width: 100%;
}

.box-info a {
    padding: 5px 20px;
    color: #161616;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.box-info h3 {
    font-size: 15px;
    margin-top: 20px;
}

.box-icon {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: rgba(22, 22, 22, 0.7);
}

.box-icon:last-child .icon1 {
    margin-right: 50px;
}

.icon1 {
    display: flex;
    align-items: center;
}

.icon1 p {
    margin-left: 10px;
}


/* Footer Section Style */

footer {
    height: 440px;
    width: 100%;
    background-color: #161616;
}

footer h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding: 80px 0px 30px 0px;
}

footer hr {
    color: #FFFFFF;
    width: 70%;
    margin: auto;
}

.about {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.about p {
    size: 15px;
    color: #B9B9B9;
    font-weight: 400;
    margin: 0px 20px;
}

.social-media-icon {
    text-align: center;
    margin-top: 50px;
}

.social-media-icon a {
    text-decoration: none;
    font-size: 25px;
    margin: 0px 30px;
    color: #B9B9B9;
}

/* Match Schedule Style */
.match-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.match {
    display: flex;
    justify-content: space-between;
}



.match-info {
    width: 100%;
    text-align: center;
}

.match-info h3 {
    font-size: 20px;
}

.match-info p {
    color: #4D4D4D;
    font-size: 16px;
}

/* Media Queries */

/* Mobile Device */

@media only screen and (max-width: 688px) {



    /* Heading Part */

    .heading-container {

        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        font-size: 5px;

    }

    .heading-text {
        display: flex;
        flex-direction: column;
        margin: 0%;
        font-size: 50%;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0;

    }

    .heading-text h1 {
        size: 50%;
        text-align: center;

    }

    .heading-text input {
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 20px;
    }

    .poster-part {
        display: flex;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0;
    }

    /* Blog Part */

    .all-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .match-blog-section {
        display: flex;
        align-items: center;
        background-color: white;
        margin: 0;
    }

    .match-btn1 {
        border: 1px solid gray;
    }


    .main-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;

    }

    /* Footer Part */

    footer {
        width: 100%;
        height: 100%;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about p {
        margin-top: 10px;
    }

    .social-media-icon {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-left: 10px;
        margin-right: 10px;
    }


}